@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, Arial, sans-serif;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}

:root {
  --radius: 0.5rem;
  --background: #fff; /* blanco puro */
  --foreground: #161619; /* casi negro con violeta */
  --card: #fff;
  --card-foreground: #161619;
  --popover: #fff;
  --popover-foreground: #161619;
  --primary: #a047ff; 
  --primary-foreground: #fff;
  --secondary: #d1d5dc; /* gris muy claro */
  --secondary-foreground: #161619;
  --muted: #f1f1f8; 
  --muted-foreground: #364153; /* gris medio */
  --accent: #e8d9ff; /* violeta muy claro */
  --accent-foreground: #f3f4f6; 
  --destructive: #e80010; /* rojo */
  --destructive-foreground: #fff;
  --border: #dddde4; /* gris claro con tinte violeta */
  --input: #f9fafb;
  --ring: #a047ff;
  --success-foreground: #7bf1a8;
  --success-background: #0d542b;
  --danger-foreground: #ffa2a2;
  --danger-background: #82181a;

  
  /* Charts */
  --chart-1: #a047ff; /* violeta */
  --chart-2: oklch(0.60 0.20 250); /* azul */
  --chart-3: oklch(0.65 0.22 320); /* rosa */
  --chart-4: oklch(0.70 0.18 270); /* lila */
  --chart-5: oklch(0.60 0.15 300); /* violeta */
}

.dark {
  /* Dark mode */
  --background: #161619; /* casi negro con violeta */
  --foreground: #f8f8f8; /* casi blanco */
  --card: #111116;
  --card-foreground: #f8f8f8;
  --popover: #111116;
  --popover-foreground: #f8f8f8;
  --primary: #a047ff;
  --primary-foreground: #0b0b0f;
  --secondary: #212129;
  --secondary-foreground: #f8f8f8;
  --muted: #212129;
  --muted-foreground: #8e8e9b;
  --accent: #2b2653; /* violeta oscuro para hover */
  --accent-foreground: #0b0b0f; /* violeta claro */
  --destructive: #ff252b; /* rojo más claro */
  --destructive-foreground: #f8f8f8;
  --border: #2d2c38;
  --input: #2d2c38;
  --ring: #a047ff;
  
  /* Charts para dark mode */
  --chart-1: #a047ff;
  --chart-2: oklch(0.65 0.20 250);
  --chart-3: oklch(0.70 0.22 320);
  --chart-4: oklch(0.75 0.18 270);
  --chart-5: oklch(0.65 0.15 300);
}